[submodule "external/twyleg_kicad_library"]
	path = external/twyleg_kicad_library
	url = https://github.com/twyleg/twyleg_kicad_library.git
[submodule "external/twyleg_kicad_utils"]
	path = external/twyleg_kicad_utils
	url = https://github.com/twyleg/twyleg_kicad_utils.git
